footer {
    background-color: #00fd7a;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
    .footernav {
        display: flex;
        flex-flow: column wrap;
        text-decoration: none;
            a {
                font-size: 1rem;
                    &:hover {
                        color: white;
                    }
            }
    }
    h4 {
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        margin: auto;
        padding-bottom: 50px;
        border-bottom: 1px;
    }
}
