* {
    padding: 0;
    margin: 0;
}


header {
    background-color: rgb(136, 165, 42);
    padding: 50px;
    margin-top: 0;
    height: 5cm;
    

}

body {
    height: 800px;
    background-image: url(../img/fondo.jpg);
    background-size: 3000px;
    


}



h1 {
    color: black;
    padding: 40px;
    margin-right: 400px;
    margin-top: 60px;
    margin-left: 60px;
    border: 10px solid black;

}

p {

    color: black;
    padding: 40px;
    margin-right: 400px;
    margin-top: 60px;
    margin-left: 60px;
    border: 10px dotted;
}

.principal {
    color: rgb(49, 175, 37);

}

#subtitulo {
    color: brown;
    margin-left: 60px;
}


.parrafoSegundo {

    color: brown;
}

nav ul li {
    display: inline-block;
    height: auto;
    text-decoration: none;
    font-family: Roboto, sans-serif;

}

nav ul {

    text-align: center;

}



img {

    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 50px;
    border-radius: 1cm;
    border: 10px double;
}

footer {

    padding: 80px;
    margin-bottom: 0;
    margin-top: 50px;
    background-color: rgb(136, 165, 42);


}

header div {

    margin-left: 180px;

}



/* productos */

.productosGront {
    display: flex;
    justify-content: center;
}
 
nav{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

ul {
    display: flex;
}

ul li a {
   margin: 1cm; 
}

.fotosSemillas{
    display: flex;
    flex-wrap: wrap;
   

}

.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "header header header header"
    "galeria galeria galeria galeria"
    "footer footer footer footer"

    ;
}

.header {
grid-area: header;
}

.galeria-grid {
    grid-area: galeria;
    background-color: brown;
}

.footer {
    grid-area: footer;
    background-color: black;
}



